body {
    background-color: lightblue;
  }
  
  b {
    color: navy;
    margin-left: 20px;
  }
  
  table {
    border-collapse: collapse;
  }
  
  td {
    border: 6px solid rgb(70, 1, 180);
    height: 200px;
    width: 200px;
    font-size: 125pt;
    font-family: arial;
    font-weight: bold;
    text-align: center;
  }
  